# Пример .env для debuginfod-go
DEBUGINFOD_DB_PATH=./debuginfod.sqlite
DEBUGINFOD_SCAN_PATH=/usr/lib/debug
DEBUGINFOD_PORT=8002
DEBUGINFOD_RESCAN_INTERVAL=1h
DEBUGINFOD_METADATA_MAXTIME=5s
DEBUGINFOD_LOG_LEVEL=info
DEBUGINFOD_CACHE_DIR=./.debuginfod-cache
DEBUGINFOD_ENV_FILE=.env
